/**

 */
 @charset "UTF-8";


/* HANDMADE DONEGAL THESIS CSS Document */





/* mobile response section of css */


#mobilevideo {
    position: absolute;
    width: 90px;
    left: 50%;
    margin-left: -45px;
    
    
}

#mobilewrap {
    position:absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
   background-color: rgba(255, 255, 255, 0.92);
    display: none;
    
}

h25 {
font-family: 'Great Vibes', cursive;
    color: #5b5b5b;
    font-size: 60px;
    left: 50%;
    position: absolute;
    margin-left: -80px;
    top: 5%;
    display: none;
     
}

h26 {
font-family: 'Work Sans', sans-serif;
    color: #5b5b5b;
    font-size: 22px;
    line-height: 45px;
    left: 0%;
    height: 400px;
    overflow: scroll;
    position: absolute;
   padding: 10px;
   text-align: center;
    top: 200px;
    display: none;
     

}


#mobilesite {
    font-size: 5vw;
    background-image: url(images/scenery3-min.JPG);
    width: 100%;
    height: 100%;
    position: absolute;
    line-height: 5vw;
    
    
}

#mobilelogo {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}

.mobile {
    width: 100vw;
    background-color: #ffffff;
    height: 667px;
    font-size: 80px; 
 display: none;
    color: #666;
    position:absolute;
    z-index: 11100;
}



@media only screen and (max-width:740px) {

    #fullpage {
        display: none;
    }
    
    #background {
        display: none;
    }
    
    #mobilewrap {
        display: block;

    
    }
    
    #groupicon {
        display: none;
        
    }
    #scroll1 {
       opacity: 0.01;
        display: none;
    }
    
    #scrolltext {
        opacity: 0.01;
        
    }
    
    #motiveicon {
        display: none;
    }
    
    #mapicon {
        display: none;
    }
    
    #logo2 {
        
        display: none;
    }
   
    body {
         background: #ffffff;
    }
  
    h25 {
        display: block;
    }
    
    h26 {
        display: block;
    }
    

}
/* mobile response section of css ENDS */




#container {
	position: relative;
	max-width:100%;
   height:auto;
   max-height:100%;
   display: block;
    margin-left: auto;
    margin-right: auto; 
	bottom: -70px;
    
}

/*scroll arrow and text divs constant for every page*/


#scrolltext {
    position: absolute;
   font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 21px;
    left: 50%;
    margin-left: -100px;
    bottom:55px;
    color: #5b5b5b;
    z-index: 1;
    width: 200px;
    text-align: center;
    text-shadow: 2px 1px 3px grey;
}
	
#scroll1 {
    position: absolute;
    width: 130px;
    display:none;
    z-index: 1;
    left: 50%;
    margin-left: -65px;
  bottom: 0px;
    
 
    
}


/*icons on top right and left to connect to different pages*/

#groupicon {
    position: absolute;
    right: 1vw;
    width: 3.8vw;
    top: 1vw;
    z-index: 1;
    
}

#motiveicon{
    position: absolute;
    width: 4vw;
    top: 1vw;
    right: 5vw;
    z-index: 1;
}
#councilicon{
    position: absolute;
    width: 4vw;
    top: 0vw;
    right: 9vw;
    top: 1vw;
    z-index: 1;
}

#councilicon1{
    position: absolute;
    width: 8vw;
    top: 20vh;
    left: 25%;
    margin-left: -4vw;
    z-index: 4;
}


#homeicon {
    width: 5vw;
    position: absolute;
    left: 50%;
    margin-left: -2vw;
    top: 12px;
}


/* 3 icons on the home page for makers, motive and council sections */

#home {
    position: absolute;
    width: 54.57vw;
    
    left: 50%;
    margin-left: -27vw;
    top: 50%;
    margin-top: -16vw;
    z-index: 1;
    max-height: 100%;
   
   
}
#home2 {
    position:absolute;
    width: 26.3vw;
    left: 50%;
    margin-left: -27.05vw;
   top: 50%;
    margin-top: 1vw;
    z-index: 1;
    
}
#home3 {
    position: absolute;
  width: 26.3vw;
   right: 50%;
    margin-right: -27.3vw;
    
    top: 50%;
    margin-top: 1vw;
    z-index: 1;

}

#home4 {
    position: absolute;
    width: 230px;
    right: 50%;
    margin-right: -115px;
    
   top: 371px;
    z-index: 1;

}


#mainmenu {
    min-width:100%;
	min-height:100%;
    max-width:100%;
    position: absolute;
    display: none;
    
}

#hometext {
    position: absolute;
     font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.8vw;
    width: 8vw;
    left: 1.5vw;
    top: 6vw;
    
}
	


#scroll-down{
    position: absolute;
    bottom: 1vw;
}

 

h48 {
    position: absolute;
    font-family: 'Great Vibes', cursive;
    color: #666;
    font-size: 4vw;
  top: 50%;
    margin-top: -310px;
    left: 14vw;
    display: none;
    font-family: 'Great Vibes', cursive;
    
}

h49 {
     font-family: 'Alegreya Sans SC', sans-serif;
    position: absolute;
    color: #656;
     top: 50%;
    margin-top: -260px;
    font-size: 2.8vw;
    
    z-index: 1000;
    left: 18vw;
    display: none;
    
        margin-top: -240px;
    z-index: 1000;
   
  display: none;
    padding: 0.7vw;
    border-top: 2px solid #666;
    

}

h50 {
    position: absolute;
     font-family: 'Great Vibes', cursive;
    color: #666;
    font-size: 4vw;
    top: 50%;
    margin-top: -310px;
    left: 37vw;
    display:none;
   
    
}

h51 {
     font-family: 'Alegreya Sans SC', sans-serif;
    position: absolute;
    color: #656;
    font-size: 2.8vw;
    top: 50%;
    margin-top: -260px;
    z-index: 1000;
    left: 39.4vw;
   display: none;
   
      margin-top: -240px;
    z-index: 1000;
   
  display: none;
    padding: 0.7vw;
    border-top: 2px solid #666;
   

}


h52 {
    position: absolute;
    font-family: 'Great Vibes', cursive;
    color: #666;
    font-size: 4vw;
  top: 50%;
    margin-top: -310px;
    left: 61vw;
    display: none;
    
   
    
}

h53 {
     font-family: 'Alegreya Sans SC', sans-serif;
    position: absolute;
    color: #666;
    font-size: 2.8vw;
   top: 50%;
    margin-top: -240px;
    z-index: 1000;
    left: 63vw;
  display: none;
    padding: 0.7vw;
    border-top: 2px solid #666;
    

}





.element {
    color: #666666;
    font-family: 'Great Vibes', cursive;
    font-size: 7vw;
width: 400px;
    margin-left: -200px;
    left: 50%;
    position: relative;
    top: 3vw;
    
   
    
}



	 
#down {
	bottom: 0%;
	width: 2em;
	left: 50%;
	margin-left: -1em;
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	z-index: 100;
	position: fixed;
}

#return {
	float: left;
	position: relative;
	margin-left: auto;
    margin-right: auto;
	top: 280px;
	left: 10px;
	
	
	
}

#return2 {
	float: left;
	position: relative;
	margin-left: auto;
    margin-right: auto;
	top: 280px;
	left: 10px;
	
	
	
}






#donegal {
   font-family: 'Kite One', sans-serif;
	color:#66727A;
    background-color: rgba(237, 252, 253, 0.7);
    width: 400px;
    font-size: 1.2vw;
    z-index: 1100;
    position: absolute;
    width: 40vw;
    height: 24vw;
    padding: 30px;
    left: 5vw;
    top: 20vw;
    border: 2px double white;
    border: double white;
    
    border-radius: 50%;
    padding-bottom: 40px;
    
    
}



.hover:hover {
	text-decoration:overline underline;
}


#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}

#background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height:auto;
    z-index: -500;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: auto;
	opacity: 0.98;
	overflow:hidden;
}

#introductionvid {
    position: absolute;
  width: 100%;
    left: 50%;
    display: block;
    top: 50%;
    margin-top: -50vh;
    margin-left: -50vw;
    display: none;
    opacity: 1;

}




#showreel{
    position: absolute;
    left: 1vw;
    width: 8vw;
    left: 50%;
    margin-left: -4vw;
    top: 50%;
    margin-top: -4vw;
    z-index: 0;
    
}

#skipme {
    width: 20vw;
    color: #fff;
    position: absolute;
    left: 1vw;
    z-index: 2200;
   bottom: 1vw;
    display: none;
    
}

#playintro {
      font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Work Sans', sans-serif;
    color: #5b5b5b;
    left: 50%;
    margin-left: -11vw;
    top: 55%;
    position: absolute;
    font-size: 3vw;
    z-index: 0;
    display: none;
}

.playintro {
    position: absolute;
    z-index:  2;
    bottom: 1vw;
 left: 1vw;
      font-family: 'Work Sans', sans-serif;
    font-size: 2vw;
    
    
    
}


#playintro:hover {
    border-bottom: 1.5px solid #5b5b5b;
}

#skipme:hover {
    border-bottom: 2px solid white;
}

#boxes {
	
	position: relative;
	
}

#down {
	position: absolute;
	z-index: 1100;
	width: 13vw;
	height: 28vw;
	left:86vw;
	top: -100vw;
	
}


#slide1 {
     
}


#slide13 {
    background-color: rgba(255, 255, 255 ,0.78);

    
    
}

.exgallery {
   
    width: 80vw;
    padding-left: 10vw;
    padding-top: 1vw;
   
}

#outline {
    width: 37vw;
    position: absolute;
    top: 92px;
    left: 51%;
    display: block;
}

#section15 {
  
    

   
    
}

#section2 {
    background-color: rgba(255, 255, 255 ,0.8);
}

#donegalbackground {
    width: 50%;
    left: 0vw;

   
    
    position: absolute;
    
   
}

h23 {
    font-family: 'Great Vibes', cursive;
    font-size: 12vh;
}
h31 {
    font-size: 12vh;
    font-family: 'Great Vibes', cursive;
}

#slide4 {
   
    background: url(images/scenery-min.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}



#quote {
	width: 70vw;
	
	position: absolute;
	z-index: 100;
	font-size: 5vw;
	color:#666;
   
	border:outset solid white;
	font-family: 'Great Vibes', cursive;
	padding-top: 3vw;
	padding-left: 3vw;
	padding-right: 3vw;
	padding-bottom: 3vw;
	left: 50%;
	margin-left: -36vw;
	top: -22vh;
    display: none;



}

#quotebox {
    width: 75vw;
    position: absolute;
    z-index: 2;
    left: 13%;
    
    top: -23vh;
    display: none;
}


h15 {
     font-family: 'Work Sans', sans-serif;
    font-size: 3.1vw;
    
}

h16 {
     font-family: 'Work Sans', sans-serif;
    font-size: 3.1vw;
    
}

#begin {
	position: fixed;
	top: -10em;
	right: 50%;
	margin-right: -130px;
	
}



.blink1 {
  animation: blinker 1s linear infinite;
}

.blink2 {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}



.blink_me {
  animation: blinker 4s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}


#videoembed1 {
    z-index: 11000;
    position: absolute;
    top: -70vw;
    right: 4.5vw;
    width: 40vw;
    height: 22vw;
}



#counciltitle {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #666666;
    font-size: 6vw;
    width: 85vw;
    left: 25%;
    position: absolute;
    margin-left: -42.5vw;
    top: 43vh;
    text-align: center;
}



#pr {
     font-family: 'Great Vibes', cursive;
    color: #666666;
    font-size: 3.5vw;
    width: 35vw;
    text-align: center;
    left: 25%;
    position: absolute;
    margin-left: -17.5vw;
    top: 2vw;
    z-index: 111100;
}
 
h41 {
     font-family: 'Great Vibes', cursive;
    color: #666666;
    font-size: 2.4vw;
    
}
#councilp {
    font-family: 'Work Sans', sans-serif;
    color: black;
width: 40vw;
text-align: center;
top: 60vh;
    left: 25%;
    margin-left: -20vw;
position: absolute;
    padding-bottom: 2vw;
     padding-top: 2vw;
font-size: 1.5vw;
border-top: 1px solid black;}


h42 {
    font-family: 'Great Vibes', cursive;
    color: #666666;
    font-size: 3.5vw;
    text-align: center;
    
    
}

#emer1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #666666;
    font-size: 2vw;
    text-align: center;
    width: 58.3vw;
position: absolute;
    top: 15%;
    height: 70vh;
    border-left: 2px solid #5b5b5b;
    left: 70%;
    display: none;
    
}

#emer2 {
    position: absolute;
    left: 67%;
      font-family: 'Alegreya Sans SC', sans-serif;
    color: #666666;
    font-size: 2vw;
    text-align: center;
    width: 33.3vw;
position: absolute;
    top: 15%;
    height: 70vh;
    border-right: 2px solid #a25859;
    display: none;
    
}

h43 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5vh;
    padding: 1vw;
    
}
h44 {
    font-size: 3vh;
    text-align: center;
}
#emerpic {
    width: 20vw;
    display: none;
    
}

#listento {
    position: absolute;
    font-size: 1.7vw;
     top: -27vh;
    left: 8vw;
    width: 50vw;
}
#emer3 { position: absolute;
    left: 55%;
     font-family: 'Work Sans', sans-serif;
    color: #5b5b5b;
    font-size: 2vw;
    text-align: left;
    width: 33.3vw;
    display: none;
    
}

h45{ font-family: 'Great Vibes', cursive;
font-size: 9vw;
text-align: center;
left: 4vw;
    top: 12vh;
position: absolute;
  color: #a25858;}

h46{
    position: absolute;
    top: 16vh;
    left: 9vw;
    font-size: 1.5vw;
    color: #a25858;
}

#listen {
    position: absolute;
    width: 35vw;
    top: -27vh;
    left: -7vw;
}

#audiosection{
    position: absolute;
    top: 40vh;
    line-height: 10vh;
    left: 3vw;
}


#section6 { 
    
}

#donegalaudio {
    position: absolute;
    width: 2vw;
    height: 3.5vh;
    top: 3vh;
    left: -3vw;
}

#tweedaudio {
    position: absolute;
  width: 2vw;
    height:3.5vh;
    left: -3vw;
    top: 13.5vh;
}
#stoneaudio{
    position: absolute;
    width: 2vw;
    height: 3.5vh;
    left: -3vw;
    top: 34vh;
}
#glassaudio {
    position: absolute;
   width: 2vw;
    height: 3.5vh;
    left: -3vw;
    top: 23.5vh;
    
}

#roller{
    position: absolute;
    display: none;
    top: 0px;
    
    
}



#volumebutton {
    width: 7vw;
    position: absolute;
    top: -25vh;
    left: -3.5vw;
    
}



#artisans {
    position: absolute;
    font-family: 'Alegreya Sans', sans-serif;
    right: 0.5vw;
    top: 5vw;
    display: none;
    color: #666;
    z-index: 3;

}
#motive{
    position: absolute;
    font-family: 'Alegreya Sans', sans-serif;
    right: 5.3vw;
    top: 5vw;
    display: block;
    color: #666;
    z-index: 700;


}

#council{
    position: absolute;
    font-family: 'Alegreya Sans', sans-serif;
    right: 9.7vw;
    top: 5vw;
    display: none;
    color: #666;
    z-index: 3;


}


#section3 {
background-color: rgba(255, 255, 255, 0.8);
}


#section5 { background-color: rgba(255, 255, 255, 0.8);
   max-height: 100%;
    min-height: 100%;
    max-width: 100%;

}


#ie10 {
    display: none;
    color: #666;
}



#logo {
    
    width: 47vw;
    
    left: 50%;
    position: absolute;
    margin-left: -25vw;
    top: 50%;
    margin-top: -24vw;
    z-index: 4;

}

#oldbrowser {
    color: #666;
    font-family: 'Great Vibes', cursive;
    width: 50vw;
    left: 50%;
    margin-left: -25vw;
    top: 0;
    
}


#ieicon {
    display: block;
    position: absolute;
    left: 37%;
    width: 100px;
    top: 450px;
}


#chromeicon {
    display: block;
    position: absolute;
    left: 53%;
    width: 80px;
    top: 460px;
}


#update {
    position: absolute;
    width: 700px;
    left:50%;
    margin-left: -350px;
}



#playintroduction {
     width: 20vw;
    color: #fff;
    position: absolute;
    left: 1vw;
    z-index: 2200;
   bottom: 1vw;
    
}

#playintroduction:hover {
    border-bottom: 2px solid white;
}

.unmute {
    width: 6vw;
    display: none;
   
   
     content:url("images/unmute-02.png");
position: relative;
    position: absolute;
    right: 1vw;
    z-index: 22000;
    
}

.mute{
    content:url("images/mute-01.png");
    
     z-index: 2342200;
}


#logo3{
    position: absolute;
    width: 8vw;
    left: 50%;
    margin-left: -4vw;
    top: 5vh;
}



#artists {
    font-family: 'Work Sans', sans-serif;
    color: #666666;
    position: absolute;
    left: 70vw;
    top: 50vh;
    font-size: 1.5vw;
  display: none;
    text-align: center;
}

h10 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #666;
    font-size: 5vw;
    left: 75vw;
    top: 35vh;
    position: absolute;
    display: none;
    
    
}


/* text that appears on hover to explain the contents of each section on homepage*/

h11 {
    position: absolute;
    z-index: 3;
    left: 50%;
    margin-left: -29vw;
    width: 30vw;
  font-family: 'Alegreya Sans SC', sans-serif;
      text-shadow: 2px 1px 2px grey;
color: #ffffff;
    font-size: 2vw;
   text-align: center;
    top: 50%;
    margin-top: 13vw;
    display: none;
}

h12 {
    position: absolute;
    z-index: 3;
    
      text-shadow: 2px 1px 2px grey;
color: #ffffff;
   font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2vw;
    width: 25vw;
    left:50%;
    margin-left: 2vw;
    top: 50%;
    margin-top: 13vw;
    text-align: center;
    display: none;
    
}

h13 {
    position: absolute;
    z-index: 3;
    
      text-shadow: 2px 1px 2px grey;
color: #ffffff;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2vw;
    left: 50%;
    top: 50%;
    margin-top: -18vw;
    text-align: center;
    width: 53vw;
    margin-left: -26.5vw;
    display: none;
    
    
    
}

h14 {
    position: absolute;
    z-index: 3;
    
    
     font-family: 'Work Sans', sans-serif;
    font-size: 1.4vw;
    left: 50%;
    top: 460px;
    text-align: center;
    width: 300px;
    margin-left: -150px;
    display: none;
    
    
    
}

#mute-video {
    position: absolute;
    width: 6vw;
    bottom: -0.5vw;
    right: -0.5vw;
    z-index: 10000;
    cursor: pointer;
}

#mute-intro {
    position: absolute;
     width: 6vw;
    bottom: -0.5vw;
    right: -0.5vw;
    z-index: 1000;
    cursor: pointer;
    display: none;
}




#logo2 {
    width:60px;
    position: absolute;
    left: 10px;
    top: 10px;
    
    z-index: 2100;
    display: none;
}



 /* FOLLOWING CSS IS FOR PLUG IN PURPOSES, MOST OF THEM ARE UNUSED*/
 
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
    height:100%;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
	
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
    height:100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: ;
    border-style: solid;
    margin-top: -38px;
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
	display:block;
    border-width: 36.5px 34px 38.5px 0;
    border-color: transparent #666 transparent transparent;
    border-style: double;
   
	
}
.fp-controlArrow.fp-next {
    right: 15px;
    width: 0;
    
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent  transparent transparent #666;
	visibility: block;
    
    border-style: double;
}
.fp-scrollable {
    overflow: scroll;

}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip{
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}





/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Bounce Out */
.hvr-bounce-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


/* Icon Shrink */
.hvr-icon-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-shrink:before {
  content: "\f119";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-shrink:hover:before, .hvr-icon-shrink:focus:before, .hvr-icon-shrink:active:before {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}



/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
